{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "globals": {

    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "project": "./tsconfig.json",
        "tsconfigRootDir": "./",
        "ecmaFeatures": {
            "modules": true
          }
    },
    "rules": {
        "indent": ["error", 4],
        "semi": ["error", "never"],
        "quotes": ["error", "single"]
    },
    "extends": [
        "prettier",
        "prettier/@typescript-eslint"
    ]
}